name: ci

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push image web dev
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:sdv-web"
          push: true
          tags: container-joke:latest
      -
        name: Build and push image api dev
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:sdv-api"
          push: true
          tags: api_dev:latest
